body{
font-family:-apple-system,BlinkMacSystemFont;
margin:0;
background:#f5f7fb;
}

.topbar{
background:#0A84FF;
color:white;
padding:15px;
display:flex;
justify-content:space-between;
align-items:center;
}

.navbtn{
margin-right:10px;
border:none;
padding:8px 14px;
border-radius:10px;
cursor:pointer;
}

main{
padding:30px;
}

.tab{display:none}
.tab.active{display:block}

.card{
background:white;
padding:20px;
border-radius:12px;
box-shadow:0 4px 10px rgba(0,0,0,0.05);
}

table{
background:white;
border-collapse:collapse;
width:400px;
margin-top:10px;
}

td,th{
border:1px solid #ddd;
padding:8px;
text-align:center;
}

#calendar{
display:grid;
grid-template-columns:repeat(7,1fr);
gap:10px;
max-width:600px;
margin-bottom:20px;
}

.day{
background:white;
padding:15px;
border-radius:10px;
text-align:center;
}
